layout {
    shadow {
        on
        softness 10
        spread 6
        offset x=0 y=0
        draw-behind-window true
        color "#000000a0"
        inactive-color "#bece7f50"
    }
    focus-ring {
        active-gradient from="#bece7f" to="#2a3400" angle=135 relative-to="workspace-view"
        inactive-gradient from="#bece7f" to="#2a3400" angle=135 relative-to="workspace-view"
    }
    border {
        active-gradient from="#bece7f" to="#2a340030" angle=135 relative-to="workspace-view"
        inactive-gradient from="#bece7f" to="#2a340030" angle=135 relative-to="workspace-view"
    }
    tab-indicator {
        active-color "#bece7f"
        inactive-color "#bece7f80"
    }
    insert-hint {
        color "#bece7f80"
    }
}
