layout {
    shadow {
        on
        softness 10
        spread 6
        offset x=0 y=0
        draw-behind-window true
        color "#000000a0"
        inactive-color "#a4c9fe50"
    }
    focus-ring {
        active-gradient from="#a4c9fe" to="#00315d" angle=135 relative-to="workspace-view"
        inactive-gradient from="#a4c9fe" to="#00315d" angle=135 relative-to="workspace-view"
    }
    border {
        active-gradient from="#a4c9fe" to="#00315d30" angle=135 relative-to="workspace-view"
        inactive-gradient from="#a4c9fe" to="#00315d30" angle=135 relative-to="workspace-view"
    }
    tab-indicator {
        active-color "#a4c9fe"
        inactive-color "#a4c9fe80"
    }
    insert-hint {
        color "#a4c9fe80"
    }
}
