    window-rule {
        geometry-corner-radius 12
        clip-to-geometry true

    }

prefer-no-csd true

    layer-rule {
        // match namespace="waybar"
        // match at-startup=true
        //
        match layer="top"
        match namespace="^awww-daemon$"
        place-within-backdrop true
        background-effect {
          blur true
        }
    }

    window-rule {
        match app-id="Happ"
        // open-maximized true
        open-on-workspace "last"
    }


    window-rule {
        match app-id="Thunar"
        default-column-width { 
           proportion 0.50;
        };

    }


  
